@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --olive-green: #546238;
  --azure-blue: #49c2ce;
  --black: #1a1c1e;
  --sand: #f0e4de;
  --gold: #f0c165;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Poppins", "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  flex-flow: row wrap;
}

section.photo-container {
  background-image: url(./assets/page-photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
}

section.sign-up {
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: var(--sand);
  padding: 3vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
  top: 10vh;
  padding: 30px 0;
}

.logo img {
  max-width: 80px;
  max-height: 80px;
}

h1.likha {
  letter-spacing: 2rem;
  font-size: clamp(2rem, 3rem, 3.5rem);
  color: var(--black);
  font-weight: 700;
}

h2 {
  font-weight: 400;
  color: var(--black);
  margin-bottom: 4vh;
  font-size: 4vh;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-flow: column wrap;
  font-size: 1rem;
  text-transform: uppercase;
  width: 40%;
}

.form-row input {
  background-color: var(--sand);
  border: 1px solid var(--gold);
  border-radius: 3px;
  padding: 7px;
  width: 100%;
}

.create-account {
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.create-account button {
  background-color: var(--olive-green);
  font-size: 1.5rem;
  border-radius: 5px;
  border-style: none;
  padding: 10px 30px;
  letter-spacing: 0.05rem;
  outline: none;
  color: white;
  cursor: pointer;
}

.log-in {
  display: flex;
  gap: 5px;
}

a {
  text-decoration: none;
  color: var(--olive-green);
  font-weight: 400;
}

@media only screen and (max-width: 840px) {
  body {
    flex-flow: column wrap;
    height: auto;
    text-align: center;
  }

  section.photo-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    background-size: 100vw;
  }

  .logo {
    top: 5vh;
    padding: 15px 5px;
    height: 10vh;
    width: 100vw;
  }

  section.sign-up {
    width: auto;
    height: 80vh;
    justify-content: flex-start;
    padding-top: 4vh;
  }

  .form-container {
    align-items: flex-end;
    justify-content: center;
  }

  .log-in {
    justify-content: center;
  }
}
